{% extends 'base.html.twig' %}

{% block title %}New Seniorities{% endblock %}

{% block body %}
    <h1>Create new Seniorities</h1>

    {{ include('seniorities/_form.html.twig') }}

    <a href="{{ path('app_seniorities_index') }}">back to list</a>
{% endblock %}
