<form method="post" action="{{ path('app_sup_orga_delete', {'id': sup_orga.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sup_orga.id) }}">
    <button class="btn">Delete</button>
</form>
